.u-block-da2f-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-da2f-3 {
  position: absolute;
  left: 0;
}

.u-block-da2f-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/2022-02-27.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 737px;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  width: 760px;
  margin: 145px auto 0;
}

.u-section-1-1 .u-text-2 {
  width: 760px;
  margin: 30px auto 0;
}

.u-section-1-1 .u-btn-1 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  margin: 41px auto 60px;
  padding: 0 69px 0 68px;
}

.u-section-1-1 .u-icon-1 {
  font-size: 2.6667em;
  margin-right: 13px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 608px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-1-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.25;
    width: 540px;
  }

  .u-section-1-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 99px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin-top: 45px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-btn-1 {
    margin-top: 49px;
    margin-left: -28px;
    margin-right: -28px;
    padding-right: 22px;
    padding-left: 21px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 303px;
}

.u-section-2 .u-text-1 {
  background-image: none;
  font-size: 3rem;
  margin: 39px 0 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 16px;
  margin-bottom: 29px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 166px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-2 .u-image-1 {
  height: 88px;
  width: 120px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-image-2 {
  height: 88px;
  width: 120px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-image-3 {
  height: 88px;
  width: 120px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-2 .u-image-4 {
  height: 88px;
  width: 120px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 137px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 340px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-3 {
  min-height: 400px;
}

.u-section-3 .u-image-1 {
  height: 347px;
  margin-top: 53px;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  background-image: none;
  font-weight: normal;
  text-transform: none;
  font-size: 3rem;
  margin: -306px calc(((100% - 1140px) / 2) + 285px) 0 calc(((100% - 1140px) / 2) + 256px);
}

.u-section-3 .u-text-2 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: none;
  margin: 19px calc(((100% - 1140px) / 2) + 77px) 0 calc(((100% - 1140px) / 2) + 256px);
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  margin: 13px auto 60px calc(((100% - 1140px) / 2) + 256px);
  padding: 0 69px 0 68px;
}

.u-section-3 .u-icon-1 {
  font-size: 1.55em;
  margin-right: 13px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -307px;
    margin-right: calc(((100% - 940px) / 2) + 158px);
    margin-left: calc(((100% - 940px) / 2) + 183px);
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 163px);
    margin-left: calc(((100% - 940px) / 2) + 183px);
  }

  .u-section-3 .u-btn-2 {
    margin-top: 19px;
    margin-left: calc(((100% - 940px) / 2) + 180px);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    object-position: 18.96% 50%;
  }

  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 226px);
  }

  .u-section-3 .u-text-2 {
    margin-top: 18px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 226px);
  }

  .u-section-3 .u-btn-2 {
    margin-top: 18px;
    margin-right: calc(((100% - 720px) / 2) + 26px);
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: -393px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 34px;
    margin-right: calc(((100% - 540px) / 2) + 63px);
    margin-left: calc(((100% - 540px) / 2) + 174px);
  }

  .u-section-3 .u-btn-2 {
    margin-top: 28px;
    margin-right: calc(((100% - 540px) / 2));
    padding-right: 23px;
    padding-left: 22px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 566px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 220px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    font-weight: 700;
    width: 340px;
    margin-top: -523px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 16px;
    margin-right: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 577px;
}

.u-section-4 .u-text-1 {
  width: 549px;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  margin: 1px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 14px;
  margin-bottom: 40px;
}

.u-section-4 .u-image-1 {
  background-image: url("images/2022-02-27.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 470px;
}

.u-section-4 .u-container-layout-2 {
  padding: 16px 17px 19px;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 auto 0 14px;
}

.u-section-4 .u-text-3 {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 0 14px;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 9px 318px 0 14px;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  margin: 0 318px 0 14px;
}

.u-section-4 .u-map-1 {
  width: 510px;
  height: 296px;
  margin: 14px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 39px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 218px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 218px;
  }

  .u-section-4 .u-map-1 {
    width: 436px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 19px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-image-1 {
    min-height: 470px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 108px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 108px;
  }

  .u-section-4 .u-map-1 {
    width: 326px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1066px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 34px;
    margin-bottom: 33px;
  }

  .u-section-4 .u-image-1 {
    min-height: 368px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 234px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 518px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 8px 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 8px;
    margin-right: 180px;
    margin-left: 10px;
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 9px;
    margin-left: 10px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 10px;
    margin-right: 132px;
    margin-left: 10px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-right: 132px;
    margin-left: 10px;
  }

  .u-section-4 .u-map-1 {
    height: 347px;
    margin-top: 8px;
    margin-bottom: -8px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 232px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: 14px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 14px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 14px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 14px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 66px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 20px auto;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}